/* HEADER */
header {
  display: flex;
  justify-content: space-evenly;
  position: absolute;
  gap: 180px;
  margin: 20px;
}

.logo a {
  display: inline-block;
  text-align: center;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 150px;
}

header nav ul li a {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  font-family: "Lexend Deca";
}

header nav ul li a:hover {
  color: #5a1c1c;
}

.global-menu {
  padding-left: 290px;
}

#burger-toggle {
  display: none;
}

.burger-menu {
  display: none;
  font-size: 3rem;
}

.overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
/* FOOTER */
.grid_1-1-1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  color: white;
  background-color: #7c2828;
  justify-items: center;
  padding: 30px;
  text-align: center;
  gap: 30px;
}

@media (max-width: 768px) {
  /* HEADER */
  body,
  html {
    overflow-x: hidden;
    width: 760px;
    margin: 0;
    padding: 0;
  }

  .burger-menu {
    display: block;
    color: #ffffff;
  }

  nav ul {
    display: none;
  }
  #burger-toggle:checked + label + nav ul {
    display: block;
  }
  nav a {
    display: inline-block;
    font-size: 1.5em;
    font-size: 1.3em;
  }
  header nav ul li {
    background: #7c2828;
    padding: 5px;
    border: double #6e4242;
    border-radius: 10px;
    border-width: 5px;
    margin: 5px;
    text-align: center;
  }
  header nav ul li:hover {
    background-color: #5a1c1c;
  }
  .global-menu {
    padding-left: 200px;
  }

  .logo img {
    width: 130px;
  }
  /* FOOTER */
  .grid_1-1-1-1 {
    display: block;
  }
}

@media (max-width: 500px) {
  /* HEADER */

  body,
  html {
    overflow-x: hidden;
    width: 500px;
    margin: 0;
    padding: 0;
  }
  .global-menu {
    padding-left: 0;
  }
}
