img {
  width: 100%;
}
body {
  background-color: black;
  max-width: 1664px;
}

.grid_1 {
  display: grid;
  grid-template-columns: 1fr;
}

h1 {
  font-size: 64px;
  color: white;
  text-align: center;
  font-family: "Lakki Reddy";
  margin-bottom: -30px;
}

h2 {
  color: white;
  text-align: center;
  margin-top: 50px;
  font-family: "Lexend Deca";
}

.psektion {
  color: white;
  text-align: center;
  width: 70ch;
  margin-right: auto;
  margin-left: auto;

  line-height: 25px;
}

.billed_container {
  display: flex;
  overflow: hidden;
  justify-content: center;
  margin-top: 50px;
  height: 500px;
}
.billed_container img {
  width: fit-content;
}

.grid_1-1-1-1 {
  display: flex;
  justify-content: space-evenly;

  /* justify-content: center; */
}

/* HEADER */

header {
  display: flex;
  justify-content: space-evenly;
  margin: 20px;
}

.logo {
  margin: -50px;
  margin-left: -190px;
}

nav ul {
  display: flex;
  gap: 150px;
}

header nav ul li a {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  font-family: "Lexend Deca";
}

header nav ul li a:hover {
  color: #5a1c1c;
}

.global-menu {
  padding-left: 290px;
}

#burger-toggle {
  display: none;
}

.burger-menu {
  display: none;
  font-size: 3rem;
}

.overlay-text {
  transform: translate(-50%, -50%);
  text-align: center;
}

/* FOOTER */

.footer-container {
  display: flex;
  gap: 1rem;
  background: #7c2828;
  padding: 1.5rem 0;
}

.footer-column {
  flex: 1;
  text-align: center;
}

.footer-column img {
  width: 60%;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 2rem;
  color: white;
}

.social-icons img {
  width: 50px;
}

p {
  color: white;
}

h3 {
  color: white;
}

@media (width < 500px) {
  .grid_1-1-1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
  }

  .footer-container {
    display: grid;
  }

  h1 {
    text-align: center;
  }

  .grid_1 {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
  }
  .psektion {
    width: 370px;
  }
  .footer-column img {
    display: grid;
    padding-left: 83px;
  }

  body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
  }

  .burger-menu {
    display: block;
    color: #ffffff;
  }

  nav ul {
    display: none;
    position: absolute;
    padding: 0;
  }
  #burger-toggle:checked + label + nav ul {
    display: block;
  }
  nav a {
    display: inline-block;
    font-size: 1.5em;
    font-size: 1.3em;
  }
  header nav ul li {
    background: #7c2828;
    padding: 5px;
    border: double #6e4242;
    border-radius: 10px;
    border-width: 5px;
    margin: 5px;
    text-align: center;
    font-family: "Lakki Reddy";
  }
  header nav ul li:hover {
    background-color: #5a1c1c;
  }
  .global-menu {
    padding-left: 250px;
  }

  .logo {
    width: 150px;
    height: 250px;
    padding-left: 75px;
    margin-top: -80px;
  }
}
