body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 1480px;
}

main {
  background-color: #000000;
}

.forside {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0)
    ),
    /* gradient overlay */ url(/img/forside.jpg); /* background image */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
/* HEADER */

header {
  display: flex;
  justify-content: space-evenly;
  position: absolute;
  gap: 180px;
  margin: 20px;
}
.logo a {
  display: inline-block;
  text-align: center;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 150px;
}

header nav ul li a {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  font-family: "Lexend Deca";
}

header nav ul li a:hover {
  color: #5a1c1c;
}

.global-menu {
  padding-left: 290px;
}

#burger-toggle {
  display: none;
}

.burger-menu {
  display: none;
  font-size: 3rem;
}

.overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

h1 {
  font-size: 5em;
  margin: 0;
  width: 899px;
  height: 170px;
  flex-shrink: 0;
  color: #fff;
  text-align: center;
  font-family: "Lakki Reddy";
  font-size: 150px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.velkommen {
  color: #fff;
  font-family: "Lexend Deca";
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: absolute;
  top: -40%;
  left: 30%;
}

.jungle {
  color: #fff;
  font-family: "Langar", system-ui;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  left: 50%;
  position: absolute;
  top: 80%;
}

h2 {
  display: flex;
  color: #fff;
  text-align: center;
  font-family: "Lexend Deca";
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 50px; /* 166.667% */
  letter-spacing: 0.6px;
}
h3 {
  font-weight: 200;
  font-family: "Lexend Deca";
}

h3 {
  font-weight: 500;
  font-family: "Lexend Deca";
}
.besøg {
  display: flex;
  justify-content: center;
}

/* Red square */
.tekst1boks {
  width: 100%; /* Full width of the viewport */
  height: 200px; /* Adjust height as needed */
  background-color: #7c2828; /* Red background color */
  position: relative; /* Allows text to be positioned inside */
}

/* Text on the red square */
.tekst1 {
  color: #fff;
  text-align: center;
  font-family: "Lexend Deca";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0.6px;
  padding-left: 250px;
  padding-right: 250px;
  padding-top: 50px;
  background-color: #7c2828;
  padding-bottom: 50px;
}

.panther {
  position: absolute;
  bottom: -70px;
  right: 10px;
  z-index: 1000;
  pointer-events: none;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.drik {
  width: 350px;
  padding-left: 200px;
}

.forfør {
  padding-top: 30px;
  padding-left: 100px;
  padding-right: 100px;
}

.menu {
  margin-left: 300px;
  margin-right: 100px;
  background: #7c2828;
  border: solid;
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  font-family: "Lexend Deca";
  font-size: 30px;
  font-weight: 600;
}

.instagram {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; /* Ensure the container takes full width */
}

.grid_1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.grid_1-1-1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  color: white;
  background-color: #7c2828;
  justify-items: center;
  padding: 30px;
  text-align: center;
  gap: 30px;
}

.følg img {
  width: 50px;
  padding: 10px;
  height: 50px;
}

.smugbar img {
  width: 300px;
}

.logo_1-1-1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  color: white;
  justify-items: center;
  padding: 30px;
  text-align: center;
  gap: 30px;
}

@media (max-width: 768px) {
  /* header */

  body,
  html {
    overflow-x: hidden;
  }
  .burger-menu {
    display: block;
    color: #ffffff;
  }

  nav ul {
    display: none;
  }
  #burger-toggle:checked + label + nav ul {
    display: block;
  }
  nav a {
    display: inline-block;
    font-size: 1.5em;
    font-size: 1.3em;
  }
  header nav ul li {
    background: #7c2828;
    padding: 5px;
    border: double #6e4242;
    border-radius: 10px;
    border-width: 5px;
    margin: 5px;
    text-align: center;
  }
  header nav ul li:hover {
    background-color: #5a1c1c;
  }
  .global-menu {
    padding-left: 0px;
  }

  .logo img {
    width: 130px;
  }

  /* forside */
  .velkommen {
    font-size: 20px;
    position: absolute;
    top: -28%;
    left: 40%;
  }

  .jungle {
    left: 50%;
    position: absolute;
    top: 80%;
    left: 40%;
  }

  h1 {
    font-size: 60px;
  }

  .jungle {
    font-size: 20px;
    top: 40px;
  }
  .panther {
    bottom: -60px;
    right: 70px;
  }
  .panther img {
    width: 200px;
  }

  .drik {
    width: 200px;
    padding-left: 130px;
  }

  .forfør {
    width: 300px;
    font-size: 17px;
  }

  .menu {
    margin: 0;
  }

  .tekst1 {
    text-align: s;
    font-size: 13px;
    padding-left: 0px;
  }

  .logo_1-1-1-1 {
    display: grid;
    grid-template-columns: 2fr 2fr;
  }
  .logo_1-1-1-1 img {
    width: 100px;
  }
  .grid_1-1-1-1 {
    display: block;
  }

  .grid_1-1 {
    display: block;
  }
}
