body {
  background-color: black;
  /* max-width: 1664px; */
}

.grid_1 {
  display: grid;
  grid-template-columns: 1fr;
  margin: 0 auto;
}

h1 {
  font-size: 64px;
  color: white;
  text-align: center;
}

h2 {
  color: white;
  text-align: center;
  margin-top: 50px;
}

.psektion {
  color: white;
  text-align: center;
  width: 70ch;
  margin-right: auto;
  margin-left: auto;
  margin-top: 0px;
  margin-bottom: 15px;
  line-height: 25px;
}

.billed_container {
  display: flex;
  overflow-x: hidden;
  justify-content: center;
  margin-top: 50px;
}

.grid_1-1-1-1 {
  display: flex;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: center;
  justify-content: space-evenly;
}
