* {
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  height: 100%;
  font-family: "Lexend Deca";
  background-color: black;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  position: relative;
}

/* Header-styling */

header {
  position: absolute;
}

.overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
}

.hero {
  height: 100%; /* Fylder hele skærmhøjden */
  width: 100%; /* Fylder hele bredden */
  background-image: url("billeder/bar2.jpg"); /* Sørg for at baggrunden er billedet */
  background-size: cover;
  background-position: center; /* Centrerer billedet */
  display: flex;
  justify-content: center; /* Centrerer indhold vandret */
  align-items: center; /* Centrerer indhold lodret */
  overflow: hidden;
  z-index: 1;
}

/* Hero content (overskrift) */
.hero-content {
  text-align: center; /* Centrerer teksten */
  color: white; /* Gør teksten synlig ovenpå billedet */
  font-size: 4.5rem; /* Juster størrelsen efter behov */
  margin: 0; /* Nulstil margin */
  font-family: "Lakki reddy";
}
.hero-content2 {
  color: #fb0202;
  padding-right: 80%;
  font-family: "Lakki reddy";
  font-size: 55px;
  font-weight: 100;
  margin-bottom: -90px;
}
.menu {
  padding: 20px;
  text-align: center;
  padding-bottom: 200px;
}

.menu-title {
  font-size: 2.5rem;
  color: #fff;
  margin-bottom: 20px;
}

/* Grid til drinks */
.menu-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
}

.menu-gridvin {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 20px;
}
/* Styling til hver cocktail */
.menu-item {
  background-color: #111; /* Mørk grå baggrund */
  border: 2px dashed #c43030; /* Punkteret kant */
  padding: 80px 20px;
  height: 380px;
  border-radius: 8px;
  text-align: center;
  position: relative;
  transition: transform 0.3s ease;
  display: flex;
  justify-content: center;
  font-family: "Lexend Deca";
}
.menu2-item {
  background-color: #111; /* Mørk grå baggrund */
  border: 2px dashed #c43030; /* Punkteret kant */
  padding: 80px 20px;
  height: 230px;
  border-radius: 8px;
  position: relative;
  transition: transform 0.3s ease;
  display: flex;
  justify-content: center;
  font-family: "Lexend Deca";
}
.menu2-item h2 {
  color: #f9f8c3;
  font-size: 30px;
  top: 5px;
  position: absolute;
  font-family: "Lexend Deca";
}

.menu2-item p {
  color: #f9f8c3;
  font-size: 18px;
  padding: 0%;
  line-height: 2.2rem;
  top: 35px;
  font-family: "Lexend Deca";
}
.menu3-item {
  background-color: #111; /* Mørk grå baggrund */
  border: 2px dashed #c43030; /* Punkteret kant */
  padding: 80px 20px;
  height: 280px;
  border-radius: 8px;
  position: relative;
  transition: transform 0.3s ease;
  display: flex;
  justify-content: center;
  font-family: "Lexend Deca";
}
.menu3-item h2 {
  color: #f9f8c3;
  font-size: 21px;
  top: 20px;
  font-family: "Lexend Deca";
  position: absolute;
}

.menu3-item p {
  color: #f9f8c3;
  font-size: 18px;
  padding: 0%;
  line-height: 2.2rem;
  font-family: "Lexend Deca";
}

.menu-item h2 {
  color: #f9f8c3;
  font-size: 1.5rem;
  top: 20px;
  position: absolute;
  text-align: center;
  font-family: "Lexend Deca";
}

.menu-item p {
  color: #f9f8c3;
  font-size: 18px;
  padding: 0%;
  line-height: 2.5rem;
  font-family: "Lexend Deca";
}

.price {
  font-weight: bold;
  position: absolute;
  bottom: 10px; /* Afstand fra bunden */
  text-align: center;
  left: 45%;
  color: #f9f8c3;
  font-size: 1.2rem;
  font-family: "Lexend Deca";
}
.vin {
  color: #ff0000;
  padding-top: 5%;
  font-size: 55px;
  padding-right: 90%;
  font-family: "Lakki reddy";
  margin-bottom: -100px;
}
.øl {
  color: #ff0000;
  font-size: 55px;
  padding-right: 92%;
  margin-bottom: -100px;
  font-family: "Lakki reddy";
}
.sodavand {
  color: #ff0000;
  padding-top: 5%;
  font-size: 55px;
  padding-right: 50%;
  font-family: "Lakki reddy";
  margin-bottom: -100px;
}
.snacks {
  color: #ff0000;
  padding-top: 5%;
  font-size: 55px;
  font-family: "Lakki reddy";
  padding-right: 48%;
  margin-bottom: -100px;
}
.sauce {
  color: #ff0000;
  padding-top: 5%;
  font-size: 55px;
  font-family: "Lakki reddy";
  padding-right: 35%;
  margin-bottom: -100px;
}
.booze {
  color: #ff0000;
  padding-top: 5%;
  font-size: 55px;
  font-family: "Lakki reddy";
  padding-right: 85%;
  margin-bottom: -100px;
}
#månedens {
  font-size: 80px;
  padding-top: 0%;
  font-family: "Lexend Deca";
  line-height: 1.6rem;
  color: #f9f8c3;
}
#skull-island {
  color: #f9f8c3;
  font-size: 16px;
  padding: 0%;
  font-family: "Lexend Deca";
  line-height: 2.2rem;
}
#signatur {
  color: #ff0000;
  font-family: "Lexend Deca";
}
#signatur2 {
  color: #ff0000;
  font-family: "Lexend Deca";
}
#signatur3 {
  color: #ff0000;
  font-family: "Lexend Deca";
}
#signatur4 {
  color: #ff0000;
  font-family: "Lexend Deca";
}
#signatur5 {
  color: #ff0000;
  font-family: "Lexend Deca";
}
#signatur6 {
  color: #ff0000;
  font-family: "Lexend Deca";
}
#signatur7 {
  color: #ff0000;
  font-family: "Lexend Deca";
}
#signatur8 {
  color: #ff0000;
  font-family: "Lexend Deca";
}
#signatur9 {
  color: #ff0000;
  font-family: "Lexend Deca";
}
#signatur10 {
  color: #ff0000;
  font-family: "Lexend Deca";
}
#signatur11 {
  color: #ff0000;
  font-family: "Lexend Deca";
}

.grid_1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.h4 {
  font-family: "Lexend Deca";
}
.signatur_drinks {
  position: absolute;
  color: #ff0000;
  padding-left: 900px;
  font-family: "Lexend Deca";
  font-size: 16px;
}

@media (max-width: 768px) {
  /* Skærmstørrelser på 768px eller mindre */
  .menu-grid {
    grid-template-columns: repeat(2, 1fr); /* To drinks ved siden af hinanden */
  }
  .menu-gridvin {
    grid-template-columns: repeat(2, 1fr);
  }
  .menu-item h2 {
    font-size: 1rem;
    top: 10px;
  }
  .menu {
    margin-right: 60px;
    margin-left: -10px;
  }

  .menu-item p {
    font-size: 12px;
    margin-bottom: 15px;
    line-height: 1.6rem;
  }
  .vin,
  .øl,
  .sodavand,
  .snacks,
  .sauce,
  .booze,
  .hero-content2 {
    margin-bottom: -30px;
  }

  .price {
    bottom: 10px; /* Afstand fra bunden */
    left: 45%;
    font-size: 14px;
  }
  .menu-item {
    padding: 40px 20px;
    height: 280px;
    width: 200px;
  }
  .menu2-item {
    padding: 40px 20px;
    height: 180px;
    width: 200px;
  }
  .menu2-item h2 {
    font-size: 1rem;
  }

  .menu2-item p {
    font-size: 12px;
    padding-top: 10%;
    line-height: 20px;
  }
  .menu3-item {
    padding: 40px 20px;
    height: 180px;
    width: 200px;
  }
  .menu3-item h2 {
    font-size: 1rem;
    top: 10px;
  }

  .menu3-item p {
    font-size: 12px;
    padding-top: 10%;
    line-height: 20px;
  }

  .månedens {
    font-size: 40px;
    margin-bottom: 15px;
    line-height: 1.6rem;
  }

  .hero {
    width: 100%;
    height: 60vh;
  }

  .hero-content {
    font-size: 25px;
    padding: 0 5px;
    margin-top: -250px;
  }

  .hero-content2 {
    font-size: 30px;
    font-weight: 100;
  }
  #månedens {
    font-size: 50px;
  }
  #skull-island {
    font-size: 12px;
    padding: 0%;
    line-height: 1.2rem;
  }
  .vin {
    color: #ff0000;
    padding-top: 10%;
    font-size: 30px;
    padding-right: 90%;
  }
  .øl {
    color: #ff0000;
    padding-top: 10%;
    font-size: 30px;
    padding-right: 90%;
  }
  .sodavand {
    font-size: 28px;
    padding-right: 10%;
    padding-top: 10%;
  }
  .snacks {
    font-size: 28px;
    padding-right: 10%;
    padding-top: 5%;
  }
  .sauce {
    font-size: 23px;
    padding-top: 10%;
    padding-right: 10%;
  }
  .booze {
    font-size: 30px;
    padding-top: 10%;
  }
  .logo {
    width: 5px;
  }
  .grid_1-1-1-1 {
    display: block;
  }
  .hero-content {
    padding-top: 300px;
  }
  .burger-menu {
    padding-left: 150px;
  }
  nav ul {
    padding-left: 150px;
  }
  .signatur_drinks {
    padding-left: 180px;
    font-size: 8px;
  }
}
